main {
  flex: 1;
  text-align: center;
  flex-direction: column;
}

Section {
  flex: 1;
  text-align: center;
  flex-direction: column;
}

a:link {
  color: rgb(13, 98, 151);
  text-decoration: none;
  font-size: xx-large;
}

a:visited {
  color: rgb(13, 98, 151);
  text-decoration: none;
  font-size: xx-large;
}

a:hover {
  color: #6fdff3;
  text-decoration: none;
  font-size: xx-large;
}

a:active {
  color: #a830b8;
  text-decoration: none;
  font-size: xx-large;
}