header {
  display: flex;
  flex-direction: row;
  background-color: rgb(32, 115, 240);
  margin-bottom: 20px;
  color: white;
  font-size: 30px;
  padding: 10px;
  justify-content: space-between;
}

h1 {
  font-size: larger;
}

div {
  justify-content: space-between;
}