header {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 115, 240);
  margin-bottom: 10px;
  font-size: 60px;
  padding: 10px;
  justify-content: space-between;
}

Link {
  color: white;
}

header span {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

h1 {
  font-size: 60px;
}

header a:link {
  color: white;
  text-decoration: none;
}

header a:visited {
  color: white;
  text-decoration: none;
}