/* Main Section */

main {
  display: flex;
  flex: 1;
  text-align: center;
  flex-direction: column;
}

Section {
  flex: 1;
  text-align: center;
  flex-direction: column;
}

a:link {
  color: rgb(13, 98, 151);
  text-decoration: none;
  font-size: xx-large;
}

a:visited {
  color: rgb(13, 98, 151);
  text-decoration: none;
  font-size: xx-large;
}

a:hover {
  color: #6fdff3;
  text-decoration: none;
  font-size: xx-large;
}

a:active {
  color: #a830b8;
  text-decoration: none;
  font-size: xx-large;
}

.App {
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

li {
  list-style-type: none
}

.Landing {
  display: flex;
  flex: 1;
  text-align: center;
  flex-direction: column;
}

.Demo {
  flex: 1;
  text-align: center;
}

.Demo h1 {
  color: rgb(2, 32, 78);
}

.LoginSignup {
  display: flex;
  flex: 1;
  text-align: center;
  flex-direction: column;
}

.sm {
  font-size: larger;
}

.NotFound {
  flex: 1;
  text-align: center;
}

.Profile {
  flex: 1;
  text-align: center;
}

.Registration {
  flex: 1;
  text-align: center;
}

/* Header */

.Header {
  display: flex;
  flex-direction: row;
  background-color: rgb(32, 115, 240);
  margin-bottom: 5px;
  font-size: 60px;
  padding: 5px;
  justify-content: space-between;
}

.header nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  text-decoration: none;
}

.header span {
  display: flex;
  flex: 1;
  justify-content: space-between;
  text-decoration: none;
}

h1 {
  font-size: 60px;
  color: white;
}

header a:link {
  color: white;
  text-decoration: none;
}

header a:visited {
  color: white;
  text-decoration: none;
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  background-color: rgb(17, 70, 148);
  margin-top: 20px;
  color: white;
  font-size: 20px;
  padding: 10px;
  justify-content: space-between;
}

footer a:link {
  color: white;
  text-decoration: none;
}

footer a:visited {
  color: white;
  text-decoration: none;
}