/* Main Section */

main {
  display: flex;
  flex: 1;
  text-align: center;
  flex-direction: column;
}

Section {
  flex: 1;
  text-align: center;
  flex-direction: column;
}

h1 {
  color: rgb(2, 32, 78);
  font-size: 40px;
}

h2 {
  color: rgb(2, 32, 78);
  font-size: 30px;
}

h3 {
  color: rgb(3, 48, 116);
  font-size: 25px;
}

fieldset, label {
  display: inline-flex;
  text-align: justify;
}

ul {
  display: inline-flex;
  text-align: justify;
  flex-direction: column;
}

input {
  display: grid;
}

button {
  margin-top: 10px;
  margin-left: 5px;
  display: inline-block;
  padding: 10px;
  border: 0;
  font-size: 16px;
  background: rgb(2, 32, 78);
  color: #fff;
}

form textarea {
  display: flexbox;
  height: 15rem;
  width: 75%;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

a:link {
  color: rgb(13, 98, 151);
  text-decoration: none;
  font-size: xx-large;
}

a:visited {
  color: rgb(13, 98, 151);
  text-decoration: none;
  font-size: xx-large;
}

a:hover {
  color: #6fdff3;
  text-decoration: none;
  font-size: xx-large;
}

a:active {
  color: #a830b8;
  text-decoration: none;
  font-size: xx-large;
}

.App {
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

li {
  list-style-type: none;
  border: rgb(1, 10, 48) solid 1px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.Landing {
  display: flex;
  flex: 1;
  text-align: center;
  flex-direction: column;
}

.Demo {
  display: inline-flexbox;
  flex: 1;
  text-align: center;
  padding: 10px;
}

.LoginSignup {
  display: inline-flexbox;
  flex: 1;
  text-align: center;
  padding: 10px;
}

.NotFound {
  flex: 1;
  text-align: center;
}

.Profile {
  flex: 1;
  text-align: center;
}

.Profile h2 {
  color: rgb(2, 32, 78);
}

.Registration {
  display: inline-flexbox;
  flex: 1;
  text-align: center;
  padding: 10px;
}

.ScribeInCalendar {
  display: inline-flexbox;
  flex: 1;
  text-align: center;
}

.ScribeReviewViewScribble p {
  display: inline-flex;
  text-align: justify;
  flex-direction: row;
  margin-left: 15px;
}

.ScribeReviewViewScribblesList button {
  margin-left: 5px;
  display: inline-block;
  align-content: flex-end;
  padding: 5px;
  border: 0;
  font-size: 16px;
  background: rgb(2, 32, 78);
  color: #fff;
}

/* Header */

.Header {
  display: flex;
  flex-direction: row;
  background-color: rgb(32, 115, 240);
}

.Header nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  text-decoration: none;
}

.Header span {
  display: inline-flex;
  flex: 2;
  text-decoration: none;
  padding: 5px;
  padding-top: 10px;
}

.Header h1 {
  font-size: 40px;
  color: white;
}

header a:link {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

header a:visited {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  background-color: rgb(17, 70, 148);
  margin-top: 20px;
  color: white;
  padding: 10px;
  justify-content: space-between;
}

footer a:link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

footer a:visited {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/*Desktops*/

@media all and (min-width: 600px) {
  form textarea {
    display: flexbox;
    height: 15rem;
    width: 100%;
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .Header span {
    display: inline-flex;
    flex: 2;
    text-decoration: none;
    padding: 10px;
    padding-top: 50px;
  }
  .Header h1 {
    font-size: 60px;
    color: white;
  }
  footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(17, 70, 148);
    margin-top: 20px;
    color: white;
    font-size: 20px;
    padding: 10px;
    justify-content: space-between;
  }
}